.top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it stays on top */
}

.logo {
  height: 40px;
}

.header {
  text-align: center;
}

.header-content {
  background-color: #F6F6FF;
  height: 200px;
  align-content: center;
  margin-top: 60px;
  padding: 60px 30%;
}

.header-content h1 {
  font-size: 2.5rem;
  color: #333;
}

.subheader {
  font-size: 1.2rem;
  color: #666;
  margin-top: 10px;
}

.subheader-description {
  font-size: 1rem;
  color: #666;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .header-content {
    padding: 20px 20px; /* Adjust padding for small mobile view */
    height: auto; /* Allow height to adjust based on content */
  }

  .header-content h1 {
    font-size: 1.5rem; /* Adjust font size for small mobile view */
  }

  .subheader {
    font-size: 0.9rem; /* Adjust font size for small mobile view */
  }

  .subheader-description {
    font-size: 0.8rem; /* Adjust font size for small mobile view */
  }
}
