body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFFFFF;
  }

  .container {
    margin: 0 auto;
  }

  .weather-cards {
    /*max-width: 3000px;*/
    margin: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
